# Temporal Configuration
TEMPORAL_HOST=192.168.1.112:7233

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Database Configuration (PostgreSQL/Citus)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pgdb
DB_USER=pguser
DB_PASSWORD=pgpass
